<div class="row">
    <div class="col-md-6">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">

            <!--Card image-->
            <div class="view gradient-card-header blue darken-2 ">
                <h4 class="h4-responsive text-white">Órden #1</h4>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <mdb-card-body class="text-center">
                <table class="table">
                    <thead>
                    <tr style="align-items: center">
                        <th>Material Directo</th>
                        <th>Costo MD $</th>
                        <th>Costo MOD $</th>
                        <th>CIF</th>
                        <th>Costo CIF $</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Camisas</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Depreciación Maq</td>
                        <td>$10000</td>
                      
                    </tr>
                    <tr>
                       
                        <td>Materias primas</td>
                        <td>$45000</td>
                        <td>$1000</td>
                        <td>Suministros Fabrica</td>
                        <td>$15000</td>
                       
                    </tr>
                    <tr>
                       
                        <td>Tela</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Mano de obra indirecta</td>
                        <td>$50000</td>
                    </tr>
                    <tr>
                        
                        <td>Total</td>
                        <td>$135000</td>
                        <td>$11000</td>
                        <td></td>
                        <td>$21000</td>
                    </tr>
                    </tbody>
                </table>

                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MOD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar CIF</a>
                  </div>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-6">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">

            <!--Card image-->
            <div class="view gradient-card-header  blue darken-2">
                <h4 class="h4-responsive text-white">Órden #2</h4>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <mdb-card-body class="text-center">
                <table class="table">
                    <thead>
                    <tr style="align-items: center">
                      
                        <th>Material Directo</th>
                        <th>Costo MD $</th>
                        <th>Costo MOD $</th>
                        <th>CIF</th>
                        <th>Costo CIF $</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                       
                        <td>Camisas</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Depreciación Maq</td>
                        <td>$10000</td>
                      
                    </tr>
                    <tr>
                      
                        <td>Materias primas</td>
                        <td>$45000</td>
                        <td>$1000</td>
                        <td>Suministros Fabrica</td>
                        <td>$15000</td>
                       
                    </tr>
                    <tr>
                       
                        <td>Tela</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Mano de obra indirecta</td>
                        <td>$50000</td>
                    </tr>
                    <tr>
                       
                        <td>Total</td>
                        <td>$135000</td>
                        <td>$11000</td>
                        <td></td>
                        <td>$21000</td>
                    </tr>
                    </tbody>
                </table>

                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MOD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar CIF</a>
                  </div>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">

            <!--Card image-->
            <div class="view gradient-card-header  blue darken-2">
                <h4 class="h4-responsive text-white">Órden #3</h4>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <mdb-card-body class="text-center">
                <table class="table">
                    <thead>
                    <tr style="align-items: center">
                      
                        <th>Material Directo</th>
                        <th>Costo MD $</th>
                        <th>Costo MOD $</th>
                        <th>CIF</th>
                        <th>Costo CIF $</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                       
                        <td>Camisas</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Depreciación Maq</td>
                        <td>$10000</td>
                      
                    </tr>
                    <tr>
                      
                        <td>Materias primas</td>
                        <td>$45000</td>
                        <td>$1000</td>
                        <td>Suministros Fabrica</td>
                        <td>$15000</td>
                       
                    </tr>
                    <tr>
                       
                        <td>Tela</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Mano de obra indirecta</td>
                        <td>$50000</td>
                    </tr>
                    <tr>
                       
                        <td>Total</td>
                        <td>$135000</td>
                        <td>$11000</td>
                        <td></td>
                        <td>$21000</td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MOD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar CIF</a>
                  </div>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-6">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">

            <!--Card image-->
            <div class="view gradient-card-header  blue darken-2">
                <h4 class="h4-responsive text-white">órden #4</h4>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <mdb-card-body class="text-center">
                <table class="table">
                    <thead>
                    <tr style="align-items: center">
                      
                        <th>Material Directo</th>
                        <th>Costo MD $</th>
                        <th>Costo MOD $</th>
                        <th>CIF</th>
                        <th>Costo CIF $</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                       
                        <td>Camisas</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Depreciación Maq</td>
                        <td>$10000</td>
                      
                    </tr>
                    <tr>
                      
                        <td>Materias primas</td>
                        <td>$45000</td>
                        <td>$1000</td>
                        <td>Suministros Fabrica</td>
                        <td>$15000</td>
                       
                    </tr>
                    <tr>
                       
                        <td>Tela</td>
                        <td>$45000</td>
                        <td>$5000</td>
                        <td>Mano de obra indirecta</td>
                        <td>$50000</td>
                    </tr>
                    <tr>
                       
                        <td>Total</td>
                        <td>$135000</td>
                        <td>$11000</td>
                        <td></td>
                        <td>$21000</td>
                    </tr>
                    </tbody>
                </table>
                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar MOD</a>
                   <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar CIF</a>
                  </div>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10">
        <!--Section: Docs link-->
        <section class="pb-4 pt-5">
            <panel header="INFORMACIÓN IMPORTANTE" color="primary-color">
                <p class="card-text">Quieres agregar una nueva orden?</p>
                <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Agregar una Nueva Órden</a>
            </panel>
        </section>
        <!--/.Section: Docs link-->
    </div>
</div>
