<div class="container my-5 z-depth-1">
    <div class="col-md-5 d-flex align-items-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a routerLink="reviewProfile" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Revisar Perfil</a>
            <a routerLink="editProfile" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Editar Perfil</a>
        </div>
    </div>
</div>
<router-outlet><router-outlet>