<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">CIF Aplicados</h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body>

                <h3 class="mt-5 text-left"><strong>Cif Aplicados Proyecto Avianca</strong></h3>
                <p>Dentro de esta tabla podrá encontrar los CIF Aplicados del Proyecto Avianca.</p>


                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Identificador de la Órden</th>
                        <th>Total Órden</th>
                    +
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>#Órden1</td>
                        <td>$45000</td>
                      
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>#Órden2</td>
                        <td>$50000</td>
                       
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>#Órden3</td>
                        <td>$84300</td>
                    </tr>
                    </tbody>
                </table>

                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Comparar con CIF Reales</a>
                  </div>

                <h3 class="mt-5 text-left"><strong>CIF Aplicados proyecto Ecopetrol</strong></h3>
                <p>Dentro de esta tabla podrá encontrar los CIF Aplicados del proyecto Ecopetrol.
                </p>


                <!--Table-->
                <table class="table">

                    <!--Table head-->
                    <thead class="blue-grey lighten-4">
                    <tr>
                        <th>#</th>
                        <th>Identificador de la Órden</th>
                        <th>Total Órden</th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>#Órden1</td>
                        <td>$75000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>#Órden2</td>
                        <td>$20000</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>#Órden3</td>
                        <td>$45000</td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Comparar con CIF Reales</a>
                  </div>

                <h3 class="mt-5 text-left"><strong>CIF Aplicados proyecto ICESI</strong></h3>
                <p>Dentro de esta tabla podrá encontrar los CIF Aplicados del proyecto ICESI.
                </p>
                <!--Table-->
                <table class="table">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        
                        <th>#</th>
                        <th>Identificador de la Órden</th>
                        <th>Total Órden</th>
                        
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>#Órden1</td>
                        <td>$7000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>#Órden2</td>
                        <td>$40100</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>#Órden3</td>
                        <td>$75000</td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                </table>

                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Comparar con CIF Reales</a>
                  </div>
                <!--Table-->


               <h3 class="mt-5 text-left"><strong>CIF Aplicados proyecto Amazon</strong></h3>
                <p>Dentro de esta tabla podrá encontrar los CIF Aplicados del proyecto Amazon.
                </p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Identificador de la Órden</th>
                        <th>Total Órden</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>#Órden1</td>
                            <td>$75000</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>#Órden2</td>
                            <td>$20000</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>#Órden3</td>
                            <td>$45000</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer justify-content-center">
                    <a href="https://mdbootstrap.com/angular/components/maps/" target="_blank" mdbBtn color="primary"
                   class="waves-effect waves-light">Comparar con CIF Reales</a>
                  </div>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>
