<form>
        <div class="form-row">
        <!-- Grid column -->
            <div class="view text-center">
                <img src="../../../../assets/img/user1.png" class="rounded img-thumbnail" alt="..." width="400" height="400">
            </div>
        </div>
        <!-- Grid row -->
        <div class="form-row">
          <!-- Grid column -->
          <div class="col">
            <!-- Material input -->
            <div class="md-form form-lg">
                <input type="text" id="firstName" class="form-control form-control-lg">
                <label for="inputLGEx">Nombre</label>
            </div>
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col">
            <!-- Material input -->
            <div class="md-form form-lg">
                <input type="text" id="lastName" class="form-control form-control-lg">
                <label for="inputLGEx">Apellido</label>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <div class="form-row">
            <!-- Grid column -->
            <div class="col">
              <!-- Material input -->
              <div class="md-form form-lg">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="email" class="form-control validate">
                <label for="inputValidationEx" data-error="wrong" data-success="right">Email</label>
              </div>
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="col">
              <!-- Material input -->
              <div class="md-form form-lg">
                <button type="button" class="btn btn-primary btn-rounded">Cambiar Contraseña</button>
              </div>
            </div>
            <!-- Grid column -->
          </div>

        <!-- Grid row -->
</form>
